[submodule "src/modules/teamleader"]
	path = src/modules/teamleader
	url = https://github.com/Navabharth-Technologies/NBT-Hub-Teamleader.git
[submodule "src/modules/admin"]
	path = src/modules/admin
	url = https://github.com/Navabharth-Technologies/NBT-Hub-Admin.git
[submodule "src/modules/hr"]
	path = src/modules/hr
	url = https://github.com/Navabharth-Technologies/NBT-HUB-HR.git
[submodule "src/modules/pm"]
	path = src/modules/pm
	url = https://github.com/Navabharth-Technologies/NBT-Hub-PM.git
[submodule "src/modules/employee"]
	path = src/modules/employee
	url = https://github.com/Navabharth-Technologies/NBT-Hub-Employee.git
